body,
div,
img,
ul,
li,
span,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}


    a img {
        width: 90px;
        height: 70px;
        display: block;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 15px;
    }

li:first-of-type a img {
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}

div {
    float: left;
}

    div#wrapper {
        width: 960px;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        font-size: 16px;
    }

        div#wrapper > div {
            margin: 15px;
            width: 700px;
            height: 440px;
            background-color: #CCC;
            border-radius: 5px;
        }


    div.holder {
        margin: 10px;
        margin-bottom: 15px;
    }

        div.holder > img {
            width: 550px;
            height: 415px;
        }

ul {
    list-style-type: none;
}


span {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-weight: bold;
}


img {
    border-radius: 5px;
}
